<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened>
    <div class="container-nav">
      <nav
        class="flex flex-col h-3/4 w-16 justify-center items-center gap-5 m-3 bg-green-400 rounded-3xl"
      >
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <a routerLink=""> <mat-icon>home</mat-icon> </a>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <a routerLink="/clientes"> <mat-icon>face</mat-icon> </a>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <a routerLink="/reportes"> <mat-icon>assessment</mat-icon> </a>
        </button>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
