.table-container {
   width: 80%;
   margin: 0 auto;
}
.btn-accion-container {
   display: flex;
   gap: 10px;
}
.filter-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}